* {
    margin: 0;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}

.nav {
    position: absolute;
    top: 0px;
    right: 0px;
    color: black;
    margin-top: 19px;
    font-size: 13px;
    font-style: width: 100% black;
    text-align: right;
    margin-bottom: 150px;
    white-space: nowrap;
}

html {
    overflow-y: auto;
    height: 100%;
    display: block;
    /*background-color: #e9e9e9;*/
}

.footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 50px;
}

.blackNav {
    color: black;
    margin-left: 15px;
    font-weight: bold;
}

.normalNav {
    color: black;
    margin-left: 8px;
}

.moreProduct {
    background: #3385FF;
    padding: 5px;
display: inline-block;
    margin: 0 10px 0 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}


/*中部*/
body{
     height: 100%;
     min-height: 600px;
     min-width: 810px;;
}
.bodycenter {
    height: 100%;
    min-height: 610px;
    font: 12 arial;
    position: relative;
    text-align: center;
    display: block;
    /*background-color: gray;*/
}

.article {
    /*margin-top: 10%;*/
    /*margin: 0px auto;*/
    height: 187px;
    position: relative;
    top: 38%;
    /*background-color: green;*/
    text-align: center;
    display: block;
}

.section {
    margin: 0px auto;
    position: relative;
    width: 640px;
    /*top: 32.2%;*/
    height: 187px;
    position: relative;
    top:-187px;
    /*text-align: center;*/
    /*background-color: blue;*/
}

.img {
    height: 129px;
    width: 270px;
    margin: auto;
}


/*输入框和button的集合*/

.Input_Button {
    /*background-color: green;*/
    width: 640px;
    height: 36px;
    position: relative;
    margin-top: 22px;
    vertical-align: center;
}


/*百度搜索输入框-border*/

.InputBorder {
    width: 539px;
    height: 34px;
    border: 1px solid #b6b6b6;
    /*background-color: yellow;*/
    position: absolute;
    left: 0px;
    /*margin-bottom: 0px;*/
    bottom: 0px;
}

.InputBorder:hover,
.InputBorder:active {
    border-color: #999 transparent #b3b3b3 #999;
}

.InputBorder:hover {
    border-color: #4791ff transparent #4791ff #4791ff;
}


/*输入框*/

#input {
    width: 500px;
    height: 22px;
    margin: 6px 0 0 7px;
    border: 0px;
    outline: 0px;
    line-height: 22px;
    padding: 0px;
    text-align: left;
    list-style: none;
    background: transparent;
}


/*百度一下按钮-border*/

.BottonBorder {
    height: 36px;
    width: 100px;
    /*background-color: blue;*/
    position: absolute;
    left: 539px;
    outline: none;
    outline-style: none;
    nav-index: auto;
    bottom: 0px;
    border: 0px;
    padding: 0px;
    list-style: outside none none;
    text-align: left;
    background-image: none;
    vertical-align: top;
}


/*百度一下按钮*/

#sumbit_result {
    height: 36px;
    width: 100px;
    color: #FFF;
    font-size: 15px;
    background: #3385FF;
    border: 0;
    border-bottom: 1px solid #2d78f4;
    color: white;
    text-align: center;
    text-decoration: none;
    /*padding-top: 2px;*/
    /*padding: 9px 20px 9px 20px;*/
    cursor: pointer;
    outline: none;
    outline-style: none;
    nav-index: auto;
}


/*百度一下按钮-鼠标悬停动画*/

#sumbit_result:hover {
    background: #317ef3;
    border-bottom: 1px solid #2868c8;
    box-shadow: 1px 1px 1px #ccc;
}

#footer01 {
    font: 12px arial;
}

#footer02 {
    font: 12px arial;
    margin-top: 5px;
    color: #666;
}

a:hover {
    color: #0000FF;
}

<!--[if IE 9]> <style> .ie9 {
    display: inline;
}

</style> <![endif]-->
