.jiinfor {
    height: 253px;
    border-top: 1px solid #E4E4E4;
    border-bottom: 1px solid #E4E4E4;
    width: 1000px;
    margin: 50px auto 0;
    background-color: #fafafa;
}

.copyright {
    margin: 0 auto;
    height: 56px;
    width: 1000px;
    /*    border:1px solid #E4E4E4;*/
    text-align: center;
    line-height: 56px;
    font-size: 12px;
    color: #999;
}

.jiinfor>dl {
    width: 185px;
    padding-left: 30px;
    color: gray;
    margin: 25px 0;
    float: left;
    border-left: 1px solid #E4E4E4;
    min-height: 175px;
}

dt {
    color: gray;
    padding-left: 5px;
    font-size: 14px;
}

dd {
    color: gray;
    padding-left: 5px;
    font-size: 12px;
    margin-top: 10px;
}

.search-share {
    width: 260px;
    float: left;
    border-left: 1px solid #e4e4e4;
    padding: 20px 0 0 40px;
    min-height: 226px;
}

.jktxt {
    font-size: 15px;
    color: #35b558;
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
}

div.app-download>a>div {
    display: inline-block;
    color: grey;
}

.kefuimg {
    float: left;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    background: url(kefu_8edc734.png) no-repeat right 0px/80px 40px;
}

.kefu-online>a:hover .kefuimg {
    background: url(kefu_8edc734.png) no-repeat left 0px/80px 40px;
}

.kefu-online>a:hover {
    color: #35b558;
}

.kefu-online {
    margin-top: 15px;
    color: #333;
    float: left;
    width: 220px;
}

.kefu-online>a {
    color: grey;
}

.sina-icon {
    background: url(icon_7f8b929.png) -23px 0 no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    position: relative;
}

.sina-icon:hover {
    background: url(icon_7f8b929.png) -23px -40px no-repeat;
}

.tieba {
    background: url(icon_7f8b929.png) -144px 0 no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    position: relative;
}

.tieba:hover {
    background: url(icon_7f8b929.png) -144px -40px no-repeat;
}

.weixin {
    background: url(icon_7f8b929.png) -23px -82px no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
    float: left;
    margin-right: 10px;
    position: relative;
}

.weixin:hover {
    background: url(icon_7f8b929.png) -23px -122px no-repeat;
}

.share {
    margin-top: 15px;
    float: left;
    display: inline-block;
}

.app-download>a>div:hover {
    color: #35b558;
}
