* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
}
.navRight {
    position: relative;
    height: 34px;
    float: right;
    color: black;
    line-height: 34px;
    font-size: 13px;
    text-align: left;
}
.navRight a:hover {
    color: black;
}
html {
    overflow-y: auto;
    height: 100%;
    display: block;
}
.footer {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 40px;
}
.blackNav {
    color: black;
    margin-left: 10px;
}
.normalNav {
    color: black;
    margin-left: 10px;
    margin-right: 5px
}
.moreProduct {
    position: relative;
    display: inline-block;
    /*    background-color: #38f;*/
    text-align: center;
    line-height: 23px;
    color: white;
    margin-left: 19px;
    margin-right: 2px;
}
/*中部*/

body {
    height: 100%;
    min-height: 800px;
    min-width: 800px;
}
.bodycenter {
    height: 100%;
    font: 12 arial;
    position: relative;
    display: block;
}
.article {
    height: 187px;
    position: relative;
    top: 16%;
    text-align: center;
    display: block;
}
.section {
    margin: 0px auto;
    position: relative;
    width: 640px;
    height: 187px;
}
/*输入框和button的集合*/

.Input_Button {
    width: 640px;
    height: 36px;
    position: relative;
    margin-top: 22px;
    vertical-align: center;
}
/*百度搜索输入框-border*/

.InputBorder {
    width: 539px;
    height: 36px;
    border: 1px solid #b6b6b6;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.InputBorder:hover,
.InputBorder:active {
    border-color: #999 transparent #b3b3b3 #999;
}
.InputBorder:hover {
    border-color: #4791ff transparent #4791ff #4791ff;
}
/*输入框*/

#input {
    width: 500px;
    height: 22px;
    margin: 6px 0 0 7px;
    border: 0px;
    outline: 0px;
    line-height: 22px;
    padding: 0px;
    text-align: left;
    list-style: none;
    background: transparent;
}
/*百度一下按钮-border*/

.BottonBorder {
    height: 36px;
    width: 100px;
    position: absolute;
    left: 539px;
    outline: none;
    outline-style: none;
    nav-index: auto;
    bottom: 0px;
    border: 0px;
    padding: 0px;
    list-style: outside none none;
    text-align: left;
    background-image: none;
    vertical-align: top;
}
/*百度一下按钮*/

#sumbit_result {
    height: 36px;
    width: 100px;
    color: #FFF;
    font-size: 15px;
    background: #3385FF;
    border: 0;
    border-bottom: 1px solid #2d78f4;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    outline-style: none;
    nav-index: auto;
}
/*百度一下按钮-鼠标悬停动画*/

#sumbit_result:hover {
    background: #317ef3;
    border-bottom: 1px solid #2868c8;
    box-shadow: 1px 1px 1px #ccc;
}
#footer01 {
    font: 12px arial;
}
#footer02 {
    font: 12px arial;
    margin-top: 5px;
    color: #666;
}
a:hover {
    color: #0000FF;
}
.moreProductBar {
    display: none;
    position: fixed;
    right: 0px;
    top: 0px;
    width: 85px;
    height: 100%;
    background-color: #f9f9f9;
    border-left: 1px solid #e7e7e7;
    z-index: 500;
}
.moreProductWord {
    position: relative;
    background-color: #38f;
    width: 60px;
    height: 22px;
    display: block;
    right: 10px;
    /*    margin-right: 10px;*/
    z-index: 600;
}
.mPBMPBox {
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 66px;
    height: 30px;
    /*    background-color: aquamarine;*/
    border-bottom: 1px solid #f0f0f0;
    line-height: 30px;
}
.mPBBox {
    display: block;
    position: relative;
    margin: 0 auto;
    text-align: center;
    width: 66px;
    height: 76px;
    /*    background-color: aquamarine;*/
    border-bottom: 1px solid #f0f0f0;
}
.mPImg:hover {
    color: #666;
    text-decoration: underline;
}
.mPImg {
    display: block;
    color: #666;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}
.mPImg>img {
    margin: 5px auto 5px;
}
.menu2 {
    position: absolute;
    display: none;
    right: 64px;
    width: 70px;
    height: 105px;
    z-index: auto;
    /*    background-color:azure;*/
    border: 1px solid #dedede;
    box-shadow: 1px 1px 5px #dedede;
}
.menu2>a {
    color: #333;
    background-color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    z-index: 300;
}
.menu2>a:hover {
    color: #fff;
    background-color: #3385FF;
    /*    z-index: 300;*/
}
.menu2arrows {
    position: absolute;
    left: 30px;
    top: -10px;
    /*    z-index: 200;*/
}
.menuArrowsBack {
    position: absolute;
    width: 0;
    height: 0;
    top: -1px;
    border: 5px solid transparent;
    border-bottom-color: #d8d8d8;
}
.menuArrowsFront {
    position: absolute;
    width: 0;
    height: 0;
    top: 0px;
    border: 5px solid transparent;
    border-bottom-color: #fff;
}
.menu1 {
    position: absolute;
    display: none;
    right: 123px;
    width: 70px;
    height: 131px;
    z-index: auto;
    /*    background-color:azure;*/
    border: 1px solid #dedede;
    box-shadow: 1px 1px 5px #dedede;
}
.menu1>a {
    color: #333;
    background-color: white;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 26px;
    z-index: 300;
}
.menu1>a:hover {
    color: #fff;
    background-color: #3385FF;
    /*    z-index: 300;*/
}
.weather {
    position: relative;
    float: left;
    top: 0px;
    font-size: 13px;
    width: 210px;
    height: 34px;
}
.weatherLocal {
    width: 200px;
    height: 34px;
}
.nav {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 100%;
    margin-top: 3px;
    margin-bottom: 150px;
    white-space: nowrap;
    border-bottom: 1px solid #e6e6e6;
}
.navLeft {
    float: left;
    width:320px;
    color: black;
    font-size: 13px;
}
.goods {
    position: relative;
}
.left3item {
    position: relative;
    display: inline-block;
    float: left;
    line-height: 34px;
    color: black;
    margin-left: -15px;
}
.weather_city {
    margin-left: 15px;
    line-height: 34px;
    color: #333;
}
.weather_state {
    color: #38f;
}
.weather_exp {
    color: #38f;
}
.showcase {

position:relative;
 width:911px;
 height:321px;
 margin:180px auto;
/* overflow:hidden;*/

/*    background-color: beige;*/

}
.showcase_leftbar {
    display: inline-block;
    width: 80px;
    height: 288px;
    float: left;
    background-color: #e9eaea;
    text-decoration: none;
}
.showcase_rightcontant1 {
    width: 814px;
    height: 320px;
    display: none;
/*        display: inline-block;*/
    float: right;
}
.rightcontant_BGimg {
    position: relative;
    display: inline-block;
    top: 0px;
    left: 0px;
    width: 425px;
    height: 260px;
    /*    background-color:chartreuse;*/
    overflow: hidden;
}
.rightcontant_smimg {
    position: relative;
    display: inline-block;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 425px;
    height: 60px;
    background-color: #191919;
}
.rightcontant_title {
    position: absolute;
    display: inline-block;
    line-height: 51.5px;
    height: 51.5px;
    width: 389px;
    top: 0px;
    right: 0px;
    border: 1px solid #e9e9e9;
    border-bottom: 1px solid white;
    /*    background-color:forestgreen;*/
}
.rightcontant_sub {
    position: absolute;
    display: inline-block;
    top: 51.5px;
    width: 389px;
    right: 0;
    height: 268.5px;
    border: 1px solid #e9e9e9;
    border-top: 1px solid white;
    /*    background-color:firebrick;*/
}
.robot {
    display: block;
    position: absolute;
    right: -61px;
    top: 20px;
    width: 73px;
    height: 95px;
    background: url(../images/xiaodu_home_sleep_9d1f08a9.png) no-repeat;
    /*    z-index: 888;*/
}
.robot:hover {
    background: url(../images/xiaodu_home_active_e48feb84.png) no-repeat;
    right: -73px;
}
.showcase_leftbar_focus {
    width: 80px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    display: block;
    text-decoration: none;
    font-weight: bolder;
    background: #fff url(../images/s_menu_309f0917.png) no-repeat !important;
    background-size: 80px 35px;
    color: white !important;
}
.showcase_leftbar_focus:hover {
    color: white;
}
.showcase_leftbar_normal {
    width: 80px;
    height: 35px;
    display: block;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    /*    background:black;*/
    display: block;
    color: #969494 ;
    text-decoration: none;
}
.showcase_leftbar_normal:hover {
    display: block;
    background-color: #bfbfbf;
    color: white !important;
    text-decoration: none;
}
.showcase_leftbar_tool {
    display: block;
    width: 80px;
    height: 35px;
    position: absolute;
    /*    background-color: black;*/
    bottom: 35px;
    line-height: 20px;
}
.showcase_leftbar_tool:hover {
    background: #bfbfbf;
}
.showcase_leftbar_tool:hover .showcase_leftbar_tool_img {
    display: block;
    background: url(../images/noskin_bg_650ea825.png) no-repeat 0px 0;
}
.showcase_leftbar_tool_img {
    position: relative;
    top: 7.5px;
    left: 30px;
    width: 20px;
    height: 20px;
    display: block;
    background: url(../images/noskin_bg_650ea825.png) no-repeat -22px 0;
}
.imgBox {
    position: absolute;
    margin:0;
    padding:0;
    /*top:0px;*/
    width: 425px;
    display: none;
}
.currSlider {
    display: block;
}
.sideBar {
    display: none;
    cursor: pointer;
}
.lession-middle:hover .sideBar {
    display: block;
}
#rightSidebar {
    position: absolute;
    text-align: center;
    top: 128.5px;
    right: 0px;
    width: 30px;
    height: 40px;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
}
#leftSidebar {
    position: absolute;
    text-align: center;
    top: 128.5px;
    width: 30px;
    height: 40px;
    background: rgba(0, 0, 0, .5);
    cursor: pointer;
}
.left {
    position: relative;
    margin-top: 7px;
    background: url(../images/icon_7f8b929.png) 0px -128px no-repeat;
    width: 20px;
    height: 25px;
    display: inline-block;
}
.right {
    position: relative;
    margin-top: 8px;
    background: url(../images/icon_7f8b929.png) 4px -153px no-repeat;
    width: 20px;
    height: 25px;
    display: inline-block;
}
.lession-middle {
    position: relative;
    display: inline-block;
/*        float: left;*/
    width: 425px;
    height:100%;
    /*    overflow: hidden;*/
}
.bottonBar {
    position: absolute;
    margin: 0 auto;
    display: inline-block;
    width: 425px;
    height: 60px;
    text-align: center;
    /*    background-color: aqua;*/
}
.bottonBarInner {
    opacity: 0.5;
    display: inline-block;
    margin: 9px 2px;
    width: 70px;
    height: 42px;
    background: rgba(0, 0, 0, .3);
    cursor: pointer;
}
.currBottonbar {
    opacity: 1;
}
.imgBoxTitle {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 425px;
    height: 28px;
    font-size: 18px;
    text-align: left;
    line-height: 28px;
    padding-left: 15px;
    z-index: 600;
    color: white;
}
.imgBoxTitle-mask {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 425px;
    height: 28px;
    opacity: .3;
    background-color: #000;
    z-index: 580;
}
.rightcontant_title_logo {
    display: inline-block;
    position: relative;
    top: 2px;
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background: url(../images/news_all_b6796497.png) 1000px 1000px no-repeat;
    background-position: -25px -90px;
}
.rightcontant_title_position {
    position: relative;
    float: left;
    bottom: 0px;
    height: 50px;
    width: 130px;
    border-bottom: 2px solid #389cff;
    z-index: 600;
}
.rightcontant_title_box {
    text-decoration: none;
    color: #333;
}
.rightcontant_title_box:hover {
    color: #333;
    text-decoration: underline;
}
.rightcontant_title_Outposition {
    height: 51.5px;
    width: 330px;
    margin-left: 30px;
    border-bottom: 2px solid #e9e9e9;
}
.huanyihuan {
    color: #333;
    display: inline-block;
    position: relative;
    float: right;
    cursor: pointer;
}
.huanyihuan:hover .hanyihuan_img {
    background: url(../images/news_all_b6796497.png) -90px 6px no-repeat;
    /*    color:#0079f5;*/
}
.huanyihuan:hover {
    color: #0079f5;
}
.hanyihuan_img {
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 3px;
    width: 15px;
    height: 24px;
    background: url(../images/news_all_b6796497.png) -19px -40px no-repeat;
    /*    font-size: 13px;*/
    /*    text-decoration: none;*/
}
.rightcontant_sub_left {
    position: absolute;
    left: 40px;
    top: 10px;
}
.rightcontant_sub ul li {
    width: 150px;
    height: 30px;
    color: #333;
    /*    display: block;*/
    text-align: left;
    line-height: 30px;
}
.rightcontant_sub ul li a {
    color: #333;
    text-decoration: none;
}
.rightcontant_sub ul li a:hover {
    color: #0079f5;
    text-decoration: underline;
}
.rightcontant_sub_right {
    position: absolute;
    right: 20px;
    top: 10px;
}
.showcase_rightcontant2 {
    width: 814px;
    height: 320px;
    display: inline-block;
    float: right;
/*    background-color: antiquewhite;*/
    border:1px solid #e6e6e6;
}
.showcase_rightcontant {
    width: 814px;
    height: 320px;
    display: inline-block;
    float: right;
    overflow: hidden;
}

.navigation {
    width:814px;
    height:45px;
    display: block;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #e6e6e6;
}

.navigation_sub {
    position: relative;
    float: left;
    display: inline-block;
    width:716px;
    height: 39px;
    border-bottom: 1px solid #e6e6e6;
/*    background-color: black;*/
}

.navigation_title {
    display: inline-block;
    line-height: 44px;
    text-align: center;
    width:86px;
    height:44px;
   
}

.navigation_sub_title {
    color: #333;
    margin-left: 15px;
    width: 75px;
    height:39px;
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 39px;
    border-bottom: 2px solid #e6e6e6;
    font-weight: bold;
}

.navigation_sub_box {
    display: inline-block;
    text-align: left;
    line-height: 39px;
    width: 132px;
    height: 39px;
    text-decoration: none;
    color: #333;
/*    background-color: aqua;*/  
}
.navigation_sub_box:hover {
    color: #333;
}

.navigation_sub_box_img {
    position: relative;
    top:2px;
    margin: 0 5px 0 5px;
    width:16px;
    height: 16px;
    display: inline-block;
   
    
}



.img1 {
     background:url(../images/95491.png) no-repeat;
}

.img2 {
     background:url(../images/10624.png) no-repeat;
}

.img3 {
     background:url(../images/95490.png) no-repeat;
}

.img4 {
     background:url(../images/95501.png) no-repeat;
}

.img5 {
     background:url(../images/95504.png) no-repeat;
}

.navigation_title_focus {
    font-weight: bold;
     border-bottom:2px solid #0079f5;
}

.showcase_rightcontant_focus {
    display: block;
}

.weather_img {
    display: inline-block;
    position: relative;
    top: 2px;
    width:18px;
    height: 18px;
    background: url(../images/a1.jpg) no-repeat;
    background-size: 18px 18px;
    
}
