<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>



<app-home></app-home>

<app-product></app-product>


<router-outlet></router-outlet>




<!--<a [routerLink]="['/']">HomePage</a>-->
<!--<a [routerLink]="['/product']">Product Info</a>-->


<!--<a [routerLink]="['/']" [queryParams]="{debug: true}" fragment="education">-->
  <!--link to user component-->
<!--</a>-->

<!--

<a [routerLink]="['/']">HomePage</a>
<a [routerLink]="['/product']">Product Info</a>



-->
