.Car {
    width: 270px;
    height: 135px;
    /*    background-color: aquamarine;*/
    position: absolute;
    top: 300px;
    left: 80px;
}


/*车骨架*/

.CarBodyInnerBottom {
    height: 75px;
    width: 210px;
    background-color: #3e3e3e;
    position: absolute;
    top: 45px;
    left: 30px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}


/*车身边框*/

.CarBodySide1 {
    height: 120px;
    width: 150px;
    border-top-left-radius: 200px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 25px;
    background-color: #3e3e3e;
    position: absolute;
}

.CarBodySide2 {
    border-top: 22.5px solid transparent;
    border-left: 8px solid #3e3e3e;
    border-bottom: 22.5px solid #3e3e3e;
    border-right: 8px solid transparent;
    position: absolute;
    left: 149px;
    top: 3px;
}

.CarBodySide3 {
    height: 75px;
    width: 15px;
    border-top-right-radius: 90%;
    border-bottom-right-radius: 20px;
    background-color: #3e3e3e;
    position: absolute;
    left: 240px;
    top: 45px;
}


/*车身中部*/

.CarBodySideMiddle {
    height: 60px;
    width: 255px;
    border-top-left-radius: 1700%;
    border-top-right-radius: 200%;
    border-bottom-left-radius: 240px;
    border-bottom-right-radius: 300px;
    background-color: #5c5c5c;
    position: absolute;
    top: 60px;
}

.MudGuardleft1 {
    height: 45px;
    width: 75px;
    border-top-left-radius: 800%;
    border-top-right-radius: 300%;
    border-bottom-left-radius: 120px;
    border-bottom-right-radius: 0;
    background-color: #FFFFFF;
    position: absolute;
    top: 75px;
}

.MudGuardleft2 {
    height: 45px;
    width: 45px;
    border-top-left-radius: 0px;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0;
    background-color: #FFFFFF;
    position: absolute;
    top: 75px;
    left: 57px
}

.MudGuardRight1 {
    height: 45px;
    width: 45px;
    border-top-left-radius: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0%;
    background-color: #FFFFFF;
    position: absolute;
    top: 75px;
    left: 174px
}

.MudGuardRight2 {
    height: 45px;
    width: 45px;
    border-top-right-radius: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 5px;
    background-color: #FFFFFF;
    position: absolute;
    top: 75px;
    left: 216px
}

.MudGuardRight3 {
    height: 15px;
    width: 100px;
    background-color: #FFFFFF;
    position: absolute;
    top: 105px;
    left: 80px
}

.MudGuardCenter1 {
    height: 20px;
    width: 80px;
    background-color: #FFFFFF;
    position: absolute;
    top: 90px;
    left: 110px
}

.MudGuardCenter2 {
    height: 15px;
    width: 75px;
    background-color: #5c5c5c;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 1000%;
    position: absolute;
    top: 90px;
    left: 108px
}

.MudGuardCenter3 {
    height: 20px;
    width: 30px;
    border-radius: 50%;
    background-color: #5c5c5c;
    position: absolute;
    top: 77px;
    left: 157px;
    transform: rotate(-26deg);
}


/*轮子*/

.WheelRight {
    height: 46px;
    width: 44px;
    border-radius: 50%;
    background-color: #3e3e3e;
    position: absolute;
    top: 90px;
    left: 195px;
}

.WheelLeft {
    height: 44px;
    width: 46px;
    border-radius: 50%;
    background-color: #3e3e3e;
    position: absolute;
    top: 90px;
    left: 30px;
}

.WheelRightCenter {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #d5d5d5;
    position: absolute;
    top: 105px;
    left: 210px;
}

.WheelLeftCenter {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #d5d5d5;
    position: absolute;
    top: 105px;
    left: 45px;
}


/*车灯*/

.HeadLight1 {
    height: 20px;
    width: 20px;
    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    background-color: #3e3e3e;
    position: absolute;
    top: 55px;
    left: 245px;
}

.HeadLight2 {
    height: 20px;
    width: 5px;
    background-color: #5c5c5c;
    position: absolute;
    top: 55px;
    left: 260px;
}


/*玻璃*/

.GlassLeft {
    height: 30px;
    width: 35px;
    border-top-left-radius: 1700%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #40c9e7;
    position: absolute;
    top: 15px;
    left: 45px;
}

.GlassMiddle {
    height: 35px;
    width: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #40c9e7;
    position: absolute;
    top: 10px;
    left: 90px;
}

.GlassRight {
    height: 35px;
    width: 33px;
    border-top-left-radius: 0px;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #6fdaf1;
    position: absolute;
    top: 10px;
    left: 120px;
}
