/* The customcheck */
.oddCol {
  background-color: #d2d9de;
  
}

.evenCol {
  background-color: #ffffee;
}

.row {
    background-color: #9c9c36;
    height: 50px;
  margin: 0px solid blue;
  border: 0px solid green;
  padding: 0px solid rgb(34, 31, 31);
}

.col {
  margin: 0px solid blue;
  border: 0px solid green;
  padding: 0px solid rgb(34, 31, 31);
}


.col1 {
  background-color: #ff0101;
  
}

.col2 {
  background-color: #ff02c0;
}

.col3 {
  background-color: #039df7;
}

.col4 {
  background-color: #00e413;
}

.col5 {
  background-color: #e4ba00;
}

.col6 {
  background-color: #838280;
}

.col7 {
  background-color: #a41af3;
}

.checkmark1 {
  /*position: relative;*/
  /*padding-left: 35px;*/
  /*margin-bottom: 12px;*/

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.customcheck {
  display: block;
  position: relative;
  padding-left: 55px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/* Hide the browser's default checkbox */
.customcheck input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom checkbox */
/*.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}*/

.checkmark {

  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*width: 50%;*/

  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #eee;
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.customcheck:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.customcheck input:checked ~ .checkmark {
  /*background-color: #00a4e4;*/
  /*background-color: #02cf32;*/
  border-radius: 5px;
}

.customcheck input:checked ~ .checkmark1 {
  background-color: #ff0101;
  border-radius: 5px;
}

.customcheck input:checked ~ .checkmark2 {
  background-color: #ff02c0;
  border-radius: 5px;
}


.customcheck input:checked ~ .checkmark3 {
  background-color: #039df7;
  border-radius: 5px;
}


.customcheck input:checked ~ .checkmark4 {
  background-color: #00e413;
  border-radius: 5px;
}

.customcheck input:checked ~ .checkmark5 {
  background-color: #e4ba00;
  border-radius: 5px;
}

.customcheck input:checked ~ .checkmark6 {
  background-color: #838280;
  border-radius: 5px;
}

.customcheck input:checked ~ .checkmark7 {
  background-color: #a41af3;
  border-radius: 5px;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.customcheck input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.customcheck .checkmark:after {
  left: 12px;
  top: 2px;
  width: 15px;
  height: 30px;
  border: solid white;
  border-width: 0 5px 5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

