<h2>这是响应式表单</h2>
<div>
    <!-- formControl不能用在formGroup内部，而且其外面要加一对括号 -->
    <!--<input [formControl]="username" >-->
    <form [formGroup]="formModel" (submit)="onSubmit()" >
        <input formControlName="username" >
        <div formGroupName="dateRange">
            起始日期： <input type="date" formControlName="from">
            <br>
            <br>
            截止日期： <input type="date" formControlName="to">
        </div>
        <div>
            <ul formArrayName="emails">
                <li *ngFor="let email of this.formModel.get('emails').controls; let i=index">
                    <input type="text" [formControlName]="i">
                </li>
            </ul>
            <button type="button" (click)="addEmail()" >增加Email</button>
        </div>
        <div>
            <button type="submit">提交</button>
        </div>
    </form>
</div>
<br>
<br>
<br>

















