/* ProfileEditorComponent's private CSS styles */
:host {
  display: flex;
  flex-direction: column;
    padding-top: 24px;a`11font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #cfd8dc;
}

button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
