.header {
    margin-top: 50px;
    width: auto;
    height: auto;
}

.sub-title {
    width: 800px;
}

.homework {
    position: relative;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    border-radius: 10px;
    background-color: #e1e1e1;
}

.inner {
    box-sizing: border-box;
    position: relative;
    padding: 0 15px;
    top: 10px;
    left: 250px;
    width: 300px;
    height: 485px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: bisque;
    box-shadow: 1px 1px 1px 1px grey;
}


/*views*/

.views {
    position: absolute;
    top: 75px;
    height: 395px;
    width: 270px;
}

.form-input {
    display: inline-block;
    position: absolute;
    width: 270px !important;
    height: 40px !important;
    font-size: 20px !important;
    text-align: right !important;
}

.form-button {
    position: absolute;
    /*    margin-top: 5px;*/
    height: 60px !important;
    width: 60px !important;
    box-shadow: 1px 1px 1px 1px grey;
}

.num-size {
    font-size: 25px;
}

.numbers {
    position: absolute;
    top: 55px;
    /*    background-color: antiquewhite;*/
    width: 270px;
    height: 340px;
}

.brand-name {
    position: absolute;
    font-size: 30px;
    top: 15px;
    left: 70px;
}
